<!doctype html >
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b105a924a.js" crossorigin="anonymous"></script>
    <title>Oblicz ilość karmy | PsiAppka</title>
</head>
<body>
<div class="container">
    <div class="notch">
        <div class="speaker"></div>
        <div class="camera"></div>
    </div>
    <div class="burger">
        <div class="bones"><i class="fa-solid fa-bone"></i><i class="fa-solid fa-bone"></i><i
                class="fa-solid fa-bone"></i></div>
        <div class="xmark"><i class="fa-solid fa-xmark"></i></div>
    </div>
    <a href="/" class="src">
        <div class="logo"><img src="images/dog.png" alt="Dog icons created by Smashicons - Flaticon">
            <h1>PsiAppka</h1></div>
    </a>
    <div class="main">
        <h1>Oblicz ilość karmy</h1>
        <div class="text">
            <p>Nie wiesz jaką ilość karmy podać Pupilowi na jeden posiłek?</p>
        </div>
        <div class="box" style="flex-direction: column">
            <p class="big">Podaj sugerowaną przez producenta, dzienną porcję wyrażoną w gramach.</p>
            <div class="select">
                <label for="portion">Max 10000g</label>
                <input type="number" id="portion" min="1" max="10000" placeholder="Max 10000g" required>
            </div>
            <p class="big">Ile posiłków zjada Twój Pupil w ciągu dnia?</p>
            <div class="select">
                <label for="xportion">Max 10 porcji</label>
                <input type="number" id="xportion" min="1" max="10" placeholder="Max 10 porcji" required>
            </div>
            <button type="submit" onclick="getDodFood()">Oblicz</button>
        </div>
        <div class="result"><p id="result"></p></div>
        <nav>
            <ul>
                <li>Zapraszam poniżej:</li>
                <li><a href="https://github.com/k3gr">github.com/k3gr</a></li>
                <li><a href="https://graywolfracing.com">graywolfracing.com</a></li>
            </ul>
        </nav>
    </div>
    <script src="js/script.js"></script>
</div>
</body>
</html>